:root {
  --color-primary: #1f1f1f;
  --color-secondary: #ffcccc;
  --color-accent: #ee7ea9;
  --color-offwhite: ghostwhite;

  --font-color-panels: dimgrey;

  --font-family-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-accent: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
}

/*for testing purposes only*/
.border {
  border: dotted;
  border-color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-primary);
}

main {
  display: grid;
  grid-template-rows: 100vh;
}

h1 {
  font-size: 5rem;
}
h2,
h3 {
  font-family: var(--font-family-accent);
  margin-bottom: 2rem;
  font-size: 3rem;
}

header {
  height: 100vh;
  color: whitesmoke;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  align-content: flex-start;
  margin-left: 15vw;
  margin-right: 15vw;
  gap: 3vw;
}

footer {
  color: whitesmoke;
  text-align: center;
  margin: 2rem;
}

#logo-container {
  margin-right: auto;
}

#logo {
  margin: 1rem;
  height: 5rem;
  width: 12rem;
}

#hero {
  padding-top: 10vh;
  text-align: center;
}

.nav__item {
  font-size: 1.5rem;
}

.btn {
  font-size: 1.3rem;
  background-color: #db7093;
  padding: 1rem 1rem;
  border-radius: 2rem;
  margin: 2.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: pink;
  color: grey;
}

.feature__panel {
  font-size: 1.5rem;
  max-width: 70.5rem;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  margin: 1rem 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.feature__panel__reverse {
  font-size: 1.5rem;
  max-width: 70.5rem;
  min-height: 10vh;
  display: flex;
  flex-direction: row-reverse;
  justify-self: center;
  align-items: center;
  margin: 1rem 1rem;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
}

.feature__panel__text__content {
  padding: 1.5rem;
}

.panel-text-body {
  color: var(--font-color-panels);
  font-size: 125%;
  text-align: center;
}

.panel__img {
  max-height: 80%;
  max-width: 80%;
}

.split {
  display: flex;
  flex-direction: column;
}

.bg-dark {
  background-color: var(--color-primary);
}
.bg-light {
  background-color: var(--color-secondary);
}
.bg-pink {
  background-color: var(--color-accent);
}
.bg-white {
  background-color: var(--color-offwhite);
}

.cadeira--chain {
  position: relative;
  max-height: 6rem;
  margin-bottom: 3rem;
  animation: 1s coinScroll linear infinite;
}

.cadeira--chain__reverse {
  position: relative;
  max-height: 6rem;
  margin-top: 1rem;
  animation: 2s coinScrollReverse linear infinite;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 1.75rem;
  }
  h2,
  h3 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  #logo {
    margin: 0.5rem;
    width: 9rem;
  }
  #hero {
    padding-top: 8vh;
  }
  .cadeira--chain {
    max-height: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .cadeira--chain__reverse {
    max-height: 3rem;
    margin-top: 1rem;
  }
  nav {
    padding-left: 2px;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  .nav__item {
    display: none;
  }
  .panel__img {
    flex-shrink: 0;
    height: 12rem;
    width: 12rem;
    margin-bottom: 2rem;
  }
  .feature__panel,
  .feature__panel__reverse {
    font-size: 1rem;
    padding: 0.2rem 0.2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-height: 100%;
  }
  .btn {
    color: black;
    background-color: pink;
    padding: 0.6rem 0.7rem 0.6rem 0.7rem;
    margin: 2rem 0.2rem;
    width: max-content;
  }
}

@keyframes coinScroll {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-4.8%);
  }
}

@keyframes coinScrollReverse {
  0% {
    transform: translateX(-4.8);
  }
  100% {
    transform: translateX(-10.8%);
  }
}

@keyframes myBounce {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes myColorStrobe {
  0% {
    color: aquamarine;
  }
  25% {
    color: floralwhite;
  }
  50% {
    color: #ee7ea9;
  }
  75% {
    color: lightgrey;
  }
  100% {
    color: var(--color-accent);
  }
}
