:root {
  --color-primary: black;
  --color-secondary: #ffcccc;
  --color-accent: #ee7ea9;
  --color-offwhite: ghostwhite;

  --font-family-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-accent: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: var(--font-family-accent);
  line-height: 1;
  margin-bottom: 1em;
}

header {
  height: 100vh;
  display: flex;
  color: whitesmoke;
}

img {
  max-width: 100%;
  max-height: 25em;
  margin-bottom: 2rem;
}

header,
section {
    padding: 3rem 0;
}

.strobe{
  animation: myColorStrobe 1s infinite;
}

.bouncy__strobe{
  animation: myBounce 2s infinite, myColorStrobe 1s infinite;
}

@keyframes myBounce{
  0% {transform: translateY(20px);}
  50% {transform: translateY(50px);}
  100% {transform: translateY(20px);}

}

@keyframes myColorStrobe {
  0%  {color: aquamarine;}
  25%  {color:floralwhite;}
  50%   {color: #ee7ea9;}
  75%  {color:lightgrey}
  100% {color:var(--color-accent)}
}

.container {
    margin: auto;
    width: 90%;
    max-width: 70.5rem;
}

.container__narrow {
  max-width: 35rem;
}

.split {
  display: flex;
  flex-direction: column;
}

.panel2 {
  display: flex;
  flex-direction: column;
}

.footer {
  color: whitesmoke;
  text-align: center;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }

  .panel2 {
    flex-direction: row-reverse;
  }

  .panel2 > * {
    flex-basis: 100%;
  }

  .panel2 > * + * {
    margin-right: 2em;
  }
}


@media (max-width: 40em) {
  .panel__img {
    height: 20rem;
  }
  .image__container {
    text-align: center;
  }
}

.bg-dark {
  background-color: var(--color-primary);
}
.bg-light {
  background-color: var(--color-secondary);
}
.bg-pink {
  background-color: var(--color-accent);
}
.bg-white {
  background-color: var(--color-offwhite);
}
